python-dotenv
django==5.0
# git
pillow
matplotlib
numpy
datetime
boto3
python-jose
cryptography==2.8
requests
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
pycparser==2.19
PyJWT==1.7.1
pytz==2019.2
six==1.12.0
sqlparse
