python-dotenv
django==5.0
# git
pillow
matplotlib
numpy
datetime
boto3
python-jose
cryptography==42.0.7
requests==2.31.0
djangorestframework==3.15.1
djangorestframework-jwt
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
urllib3==2.2.1