<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetPal</title>
    <link rel="stylesheet" href="../../static/css/normalize.css" />
    <link rel="stylesheet" href="../../static/css/appointmentStyle.css" />
  </head>
  <body>
    {% csrf_token %}
    <header>
      <h1>Appointment</h1>
      <nav class="main-nav">
        <a href="/">Home</a>
      </nav>
    </header>

    <div class="conteiner-appointment">
      <div class="form">
        <form>
          <fieldset>
            <legend>initial information</legend>
            <div class="campo">
              <label>Appointment Id:</label>  
              {%if report %}
              
              <input value={{appointment.appointment_id}}  type="number" name="searchAppointment" readonly>
              
              {%else%}
              
              <input class="form-control"  type="number" name="searchAppointment">

              {%endif%}
              
              <label>Veterinarian Id:</label>

              {%if report %}
              
              <input value={{vet.vet_id}}  type="text" readonly>
              
              {%else%}
              
              <input value="veterinarian_id"  type="text" name="searchVet">
              
              {%endif%}
            </div>
            <div class="campo">
              <label>Date:</label>
              {%if report %}
              <input value={{appointment.date}}>
              {%else%}
              <input type="date" name="searchDate">
              {%endif%}
            </div>
            <div class="campo">
              <label>Hour:</label>
              {%if report %}
              <input value={{appointment.time}}>
              {%else%}
              <input type="time">
              {%endif%}
            </div>
            <div class="campo inline">
              <label>priority appointment:</label>
                <input id="option1" type="radio" name="priority">
                <label for="option1">Yes</label>
                <input id="option2" type="radio" name="priority" checked>
                <label for="option2">No</label>
            </div>
            <div class="campo">

              <label for="reason_appointment">Reason for appointment:</label>
              {%if report %}
              <textarea
                id="reason_appointment"
                name="reason"
                rows="5" 
                cols="80"
                placeholder={{appointment.reason_appointment}}
              >{{appointment.reason_appointment}}</textarea><br/>
              {%else%}
              <textarea
                id="reason_appointment"
                name="reason"
                rows="5" 
                cols="80"
                placeholder="Write Reason Appointment"
              ></textarea><br/>
              {%endif%}
              
            </div>

          </fieldset>
      </div>
      <div class="pet-profile">
        {% load static %}
        <img src="{% static 'img/collie.jpg' %}" alt="pet photo" />
        {%if report %}
        <p>Pet name: {{pet.name}}</p>
        {%else%}
        <p>Pet name</p>
        {%endif%}
        {%if report %}

        {%for i in allergies%}
        <p>Allergies: {{pet.allergies}}</p>
        {%endfor%}
        {%else%}
        <p>Allergies </p>
        {%endif%}
        {%if report %}
        <p>Pet id: {{pet.pet_id}}</p>
        {%else%}
        <p>Pet id</p>
        {%endif%}
        {%if report %}
        <p>Race: {{pet.race}}</p>
        {%else%}
        <p>Race</p>
        {%endif%}
        {%if report %}
        <p>Owner: {{pet.client_id.name}}</p>
        {%else%}
        <p>Owner</p>
        {%endif%}
      </div>
    </div>
    <div class="form-2">
          <fieldset>
            <legend>About the appointment</legend>
            <div class="campo">
              {%if report %}
              <LABEL for="test_findings">Test findings: </LABEL>
              <textarea
                id="test_findings"
                name="test"
                rows="5"
                cols="120"
                placeholder={{report.test_findings}}
              >{{report.test_findings}}</textarea
              ><br />
              {% else %}
              <LABEL for="test_findings">Test findings: </LABEL>
              <textarea
                id="test_findings"
                name="test"
                rows="5"
                cols="120"
              ></textarea
              ><br />
              {%endif%}
            </div>
            
            <div class="campo">
              {%if report %}
              <label for="diagnosis">Diagnosis: </label>
              <textarea
                id="diagnosis"
                name="diagnosis"
                rows="5"
                cols="120"
                placeholder={{report.diagnosis}}
              >{{report.diagnosis}}</textarea
              ><br />
              {% else %}
              <label for="diagnosis">Diagnosis: </label>
              <textarea
                id="diagnosis"
                name="diagnosis"
                rows="5"
                cols="120"
              ></textarea
              ><br />
              {%endif%}
            </div>
            <div class="campo">
              {%if report %}
              <label for="prescribed_treatment">Prescribed treatment:</label>
              <textarea
                id="prescribed_treatment"
                name="prescribed_treatment"
                rows="5"
                cols="120"
                placeholder={{report.prescribed_treatment}}
              >{{report.prescribed_treatment}}</textarea
              ><br />
              {% else %}
              <label for="prescribed_treatment">Prescribed treatment:</label>
              <textarea
                id="prescribed_treatment"
                name="prescribed_treatment"
                rows="5"
                cols="120"
              ></textarea
              ><br />
              {%endif%}
            </div>
            <div class="campo">
              {%if report %}
              <label for="aditional_recomend">aditional recomend:</label>
              <textarea
                id="aditional_recomend"
                name="aditional_recomend"
                rows="5"
                cols="120"
              >{{report.recommendations}}</textarea
              ><br />
              {% else %}
              <label for="aditional_recomend">aditional recomend:</label>
              <textarea
                id="aditional_recomend"
                name="aditional_recomend"
                rows="5"
                cols="120"
              ></textarea
              ><br />
              {%endif%}
            </div class="campo">
            <div class="form-2 block">
              {%if report %}
            <label>aditional notes: </label>
              <textarea
                id="aditional_notes"
                name="aditional_notes"
                rows="3"
                cols="40"
              >{{report.additional_note}}</textarea
              ><br />
              {% else %}
              <label>aditional notes: </label>
              <textarea
                id="aditional_notes"
                name="aditional_notes"
                rows="3"
                cols="40"
              ></textarea
              ><br />
              {%endif%}
            </div>
            <div class="campo">
              <label for="file">files: </label>
              <input id="file" type="file">
            </div>
          </fieldset>
            <form action="{% url 'save'%}">
              <label for="checkUpdate" class="form-label">Enter update reason: </label>
              <input
                id="Updates"
                class="form-control"
                type="checkUpdate"
                name="checkUpdate"
                rows="3"
                cols="40"
              />
          <button class="btn btn-primary" type='submit'>save</button>
        </form>
        {%if checkUpdate%}
        <label>The report has been saved</label>
        {%endif%}
        </form>
  </div>
  </body>
  <footer>
    <p>&copy; 2024</p>
  </footer>
</html>
