{% extends 'baseUser.html'%} {% block content %}
<h1>view pets</h1>
{% for appointment in appointment %}
<body>
<input type="hidden" id="csrfToken" value="{{ csrf_token }}">
<div class="card-container">
  <div class="card">
    <h3 >Date: <span>{{ appointment.date }}</span></h3>
    <br />
    <h3 >Time: <span>{{ appointment.time }}</span></h3>
    <br />
    <h3 >Pet Name: <span>{{ appointment.pet_id.name}}</span></h3>
    <br />
    <p >Reason: <span>{{ appointment.reason_appointment }}</span></p>
    <br />

    <a rel="" href="/appointmentAccept/{{client.vet_id}}/{{appointment.appointment_id}}"
      ><i class="bx bxs-dog"></i>
      <span class="nav-item">Accept appointment</span>
    
    </a> -->

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Accept</button>
    </form>

    <!-- <button id="updateButton" data-value="{{appointment.appointment_id}}">Accept appointment</button> -->
  </div>
</div>

<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('updateButton').addEventListener('click', function() {
        var valueToSend = this.getAttribute('data-value');
        var csrftoken = document.getElementById('csrfToken').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/update-field/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        console.log('Field updated successfully');
                    } else {
                        console.error('Failed to update field:', response.error);
                    }
                } else {
                    console.error('Failed to make AJAX request:', xhr.statusText);
                }
            }
        };
        xhr.send(JSON.stringify({ value: valueToSend }));
    });
});
    </script> -->
</body>
{% endfor %}
{% endblock content %}