<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../static/css/estilos/style.css">

      <title>pet pal</title>
</head>
<body>
      <div class="container">
            <h1>enter your user type</h1>
            <div class="acceso">
                  <a rel="" href="/login/?access_token={{token}}"><p>Clients</p></a>
                  <a rel="" href="/login2/?access_token={{token}}"><p>Veterinarians</p></a>
            </div>
      </div>      
</body>
</html>


