<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/estilos/style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Submit important Vet data</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="log_id" value="{{ log_id }}">
        <input type="hidden" name="average_score" value=5>
        {{ form.as_p }}
        <button type="submit">Submit data</button>
      </form>
    </div>
  </body>
</html>
