{% extends "base.html" %} {% block content %}
<h1>appointments</h1>
{% for appointment in appointment %}
<div class="card">
  <div class="selection">
    <button class="btn select-button" data-status="pending">Pending</button>
    <button class="btn select-button" data-status="finished">Finished</button>
  </div>
  <div class="card-content">
    <h3>Date: <span>{{ appointment.date }}</span></h3>
    <br />
    <h3>Time: <span>{{ appointment.time }}</span></h3>
    <br />
    <h3>Pet Name: <span>{{ appointment.pet_id.name}}</span></h3>
    <br />
    <p>Reason: <span>{{ appointment.reason_appointment }}</span></p>
    <br />
    <button class="btn see-more-btn">see more</button>
  </div>
</div>
{% endfor %} {%endblock%}
