{% extends "baseClient.html" %}
{% block content %}
<h1>Create appointment</h1>
<div class="container-appointment">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if accepted %}
    <div>
      <h4 style="color: white; background-color:red; border-radius: 4px; padding: 2px; text-align: center; text-transform:uppercase ">This hour in this date is not available</h4>
    </div>
    {% endif%}
    <button type="submit">Make appointment</button>
  </form>
</div>
{% endblock content %}
