{% extends "baseClient.html" %} {% block content %}
<h1>Your pets</h1>
<div class="register-pet">
  <button class="register-pet-btn" onclick="abrir_modal_crear('/registerPet/{{client.client_id}}')">register pets</button>
  <div class="modal face" id="crear" role="dialog"></div>
</div>
<div class="card-container">
  {% for pet in pets %}
  <div class="card">
    <img src="{{ pet.image.url }}" alt="pet photo" />
    <div class="card-content">
      <h3>name: <span>{{pet.name}}</span></h3>
      <h3>race: <span>{{pet.race}}</span></h3>
      <h3>Birth date: <span>{{pet.birth_date}}</span></h3>
      <!-- <h3>{{pet.client_id.name}}</h3> -->
      <a href="#" class="btn">clinical record</a>
    </div>
  </div>
  {% endfor%}
</div>

{% endblock content %}
