<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/menu/MenuStyle.css" />

    <title>Pet Pal</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
        <div class="logo">
          <i class="bx bxl-baidu"></i>
          <span>User Menu</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <div class="user">
        <img class="user-img" src="../../static/img/collie.jpg	" alt="" />
        <div>
          <p class="bold">User name</p>
          <p>Owner</p>
        </div>
      </div>
      <ul>
        <li>
          <a href="#"
            ><i class="bx bxs-dog"></i>
            <span class="nav-item">pet register</span>
          </a>
          <span class="tooltip">pet register</span>
        </li>
        <li>
          <a href="#"
            ><i class="bx bx-body"></i>
            <span class="nav-item">vet information</span>
          </a>
          <span class="tooltip">vet information</span>
        </li>
        <li>
          <a href="#"
            ><i class="bx bxs-like"></i>
            <span class="nav-item">rate vet</span>
          </a>
          <span class="tooltip">rate vet</span>
        </li>

        <li>
          <a href="#"
            ><i class="bx bx-log-out"></i>
            <span class="nav-item">logout home</span>
          </a>
          <span class="tooltip">logout home</span>
        </li>
      </ul>
    </div>
    <div class="main-content">
      <h1>your pets</h1>
      <div class="card-container">
        <div class="card">
          <img src="../static/img/collie.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet2.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet3.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet4.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet5.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet6.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet10.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet8.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet9.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/pet7.jpg" alt="pet photo" />
          <div class="card-content">
            <h3>pet name</h3>
            <h3>race</h3>
            <h3>owner</h3>
            <a href="#" class="btn">clinical record</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    btn.onclick = function () {
      sidebar.classList.toggle("active");
    };
  </script>
</html>
