{% extends "baseClient.html" %} {% block content %}
<h1>Rate vet</h1>
<div >
  <form>
    <fieldset>
      <legend>
        Your review on the Veterinarian {{appointment.vet_id.name}}
      </legend>
      <div class="campo">
        {%if appointment%}
        <label
          >Enter a number 0 through 5, 0 bieng the lowest and 5 bieng the
          highest satisfaction with the services the veterinarian
          provided:</label
        >
        <input value="{{appointment.rating}}" type="number" name="rating" />
        <label> Enter a comment: </label>
        <input value="{{appointment.comment}}" type="text" name="comment" />

        <button class="btn btn-primary" type="submit">save</button>
        {%else%}
        <label
          >You cant rate a vet without having an appointment with them</label
        >
        {%endif%}
      </div>
    </fieldset>
  </form>
</div>
{% endblock content %}
