{% extends "base.html" %} {% block content %}
<h1>register pets</h1>
<div class="form">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {% for campo in form %}
    <div class="contenedor-form">
      <label for="">{{campo.label}}: </label>
      <input
        type="{{ campo.field.widget.input_type }}"
        placeholder="{{campo.label}}"
        name="{{campo.name}}"
      />
    </div>
    <!-- <div class="errores">{{campo.errors}}</div> -->
    {% endfor %}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock content %}
