{% extends "baseClient.html" %}
{% block content %}
<h1>Vet Profile</h1>
<div class="vet-card">
    <div class="vet-info">
        <div class="vet-img">
            <img src="{{ vet.image.url }}" alt="Vet Photo">
        </div>
        <div class="vet-details">
            <h2>Name: <span>{{ vet.name }}</span></h2>
            <h3>Average Score: <span>{{ vet.average_score }}</span></h3>
            <h3>Postal Code: <span>{{ vet.postal_code }}</span></h3>
            <h3>Phone Number: <span>{{ vet.phone }}</span></h3>
            <h3>Address: <span>{{ vet.address }}</span></h3>
            <h3>Specialization: <span>Dogs</span></h3>
            <h3>About me: <span>I have been working for 20 years and have a lot of experience in surgery.</span></h3>
        </div>
    </div>
    <div class="comment-section">
        <h2>Leave a Comment</h2>
        <form>
            <textarea name="comment" id="comment" rows="4" placeholder="Write your comment here..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}