
* {
  text-transform: capitalize;
}

body {
  background-color: lightslategray;
  padding: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  h1 {
    text-transform: uppercase;
  }
}

img {
  max-width: 100%;
}

header {
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

form {
  display: block;
}

/* Header y navegacion */

.main-nav {
  text-align: right;
  border-color: black;
  border-bottom: solid;
  border-width: 1px;
  padding-bottom: 10px;
}

.conteiner-appointment {
  padding: 50px;
  padding-top: 0px;
  /* background-color: red; */
  /* Uasndo display FLEX */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Usando display grid */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem; */
}

.pet-profile {
  /* background-color: blue; */
  max-width: 10rem;
  padding: 2rem;
  /* align-items: left; */
  width: 50%;
  p {
    /* background-color: red; */
    margin: 2px;
  }
}

.btn-save {
  margin-top: 10px;
  padding-right: 10px;
  width: 10%;
}

/* form */
.form fieldset {
  /* max-width: 50rem; */
  /* background-color: red; */
  /* padding: 40px; */
  /* padding-bottom: 10px; */
  display: block;
  max-width: 40rem;
  border-color: white;
  .campo {
    padding: 5px;
  }
}

.form-2 {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  fieldset {
    max-width: 50rem;
    border-color: white;
    border-width: 1px;

    .campo {
      padding-top: 5px;
    }
    .block {
      padding-top: 5px;
    }
  }
}

legend {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2px;
}
