* {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: 100vh; */
    height: 100%;
    width: 80px;
    /* width: 250px; */
    background-color: lightslategray;
    padding: 0.4rem 0.8rem;
    transition: all 0.3s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.8rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 800;
}

.sidebar p {
    opacity: 0;
}
.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: black;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}
.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}
  /* --------------------------------------------------------------------------------- */

.main-content {
    position: relative;
    background-color: whitesmoke;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.3s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    /* width: 1800px; */
}

.main-content h1 {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    background-color: lightslategray;
    color: white;
    border-radius: 0.6rem;
    padding: 0 2rem;
    /* max-width: 900px; */
    /* font-weight: 1200; */
    /* position: fixed; */
}

.card {
    width: 430px;   
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative; /* Para posicionamiento relativo */
}
  
.card-content {
    height: 100%;
}
  
.selection {
    position: absolute;
    top: 10px;
    right: 10px;
}
  
.select-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 5px;
}
  
.select-button.selected {
    background-color: lightslategrey;
}
  
h3 {
    font-weight: bold;
}
  
.btn {
    background-color: lightslategray;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
.btn:hover {
    background-color: #ccc;
    color: #fff;
}


  