* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  background-color: #005187;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: #FCFFFF;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #FCFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 20px;
  text-align: center; /* Ensure content is centered */
}

.hero {
  text-align: center;
  padding: 20px 0;
}

.hero .logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2.5em;
  color: #005187;
}

.hero p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 20px;
}

.hero .btn-primary {
  padding: 10px 20px;
  background-color: #4D82BE;
  color: #FCFFFF;
  text-decoration: none;
  border-radius: 5px;
}

.hero .btn-primary:hover {
  background-color: #84B6F4;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.feature h2 {
  font-size: 1.8em;
  color: #005187;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1em;
  color: #333;
}

footer {
  text-align: center;
  width: 100%;
}
